server.modules = (
  "mod_access",
  "mod_alias",
  "mod_compress",
  "mod_redirect",
  "mod_rewrite",
  "mod_cgi",
  "mod_setenv"
)

server.document-root        = "/var/www"
server.upload-dirs          = ("/var/cache/lighttpd/uploads")
server.errorlog             = "/var/log/lighttpd/error.log"
server.pid-file             = "/var/run/lighttpd.pid"
server.username             = "www-data"
server.groupname            = "www-data"
server.port                 = 80

index-file.names            = ("index.php", "index.html", "index.lighttpd.html")
url.access-deny             = ("~", ".inc" )
static-file.exclude-extensions = (".php", ".pl", ".fcgi" )

compress.cache-dir          = "/var/cache/lighttpd/compress/"
compress.filetype           = ("application/javascript", "text/css", "text/html", "text/plain")

include_shell "/usr/share/lighttpd/create-mime.assign.pl"
include_shell "/usr/share/lighttpd/include-conf-enabled.pl"

mimetype.assign += (".css" => "text/css")

# GitWeb config

setenv.add-environment = ("GITWEB_CONFIG" => "/etc/gitweb.conf")
url.redirect          += ("^/gitweb$" => "/gitweb/")
alias.url             += ( "/gitweb" => "/usr/share/gitweb" )
$HTTP["url"]           =~ "^/gitweb/" {
  cgi.assign           = (".cgi" => "")
  server.indexfiles    = ("gitweb.cgi", "index.cgi")
}
